<div class="container">
<nav class="main-navigation">
  <div class="navbar-header animated fadeInUp">
      <a class="navbar-brand" href="#"><img src="assets\images\Affine_Logo_highres.png" height="60" alt=""></a>
  </div>
  <ul class="nav-list">
      
      <li class="nav-list-item">
        <a routerLink="/manage-list"  routerLinkActive class="nav-link">Manage Listing</a>
    </li>
      <li class="nav-list-item">
          <a href="/" class="nav-link">Add Listing</a>
      </li>
      <li class="nav-list-item">
          <a href="#" class="nav-link">Manage E-card</a>
      </li>
      <li class="nav-list-item">
          <a href="#" class="nav-link">Business Opportunity</a>
      </li>&nbsp;&nbsp;&nbsp;&nbsp;

        <select>
          <option value="0">Username</option>
          <option value="1">Manage profile</option>
          <option value="2">Logout</option>
          
        </select>
      
  </ul>



</nav>
</div>