<!--<div class="table-responsive" id="sailorTableArea">
    <table id="sailorTable" class="table table-striped table-bordered" width="100%">-->
      <div class="span7">   
        <div class="widget stacked widget-table action-table">
                    
                <div class="widget-header">
                  <i class="icon-th-list"></i>
                  <h3>Table</h3>
                </div> <!-- /widget-header -->
                
                <div class="widget-content">
        

      <table class="table table-striped table-bordered">
        <thead>
      <tr>
        <th>listingPrice</th>
        <th>Property type</th>
        <th>street address</th>
        <th>State / Province</th>
        <th>ZIP / Postal Code</th>
        <th>Square footage</th>
        <th>No. Of Bedrooms</th>
        <th>No. Of Bathrooms</th>
        <th>Description</th>
      
      </tr>
        </thead>
  
  <tbody>
    <td>{{data.listingPrice}}
    <td>{{data.propertyType}}
    <td>{{data.streetAddress}}
    <td>{{data.stateProvince}}
    <td>{{data.zipCode}}
    <td>{{data.squareFootage}}
    <td>{{data.noOfBeedrooms}}
    <td>{{data.noOfBathrooms}}
    <td>{{data.description}}
      
     
  </tbody>
</table>

                </div>
        </div>
      </div>
          
  
 
  
  